.ItemDetail {
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: none none solid none;
}

.ItemDetail_imgIngredientContainer {
  display: flex;
}

.ItemDetail_imgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 150px;
  background-color: black;
}

.ItemDetail_img {
  width: 100%;
}

.ItemDetail_ingredientsContainer {
  padding-left: 10px;
}

.ItemDetail_ingredientsList {
  padding: 0;
}

.ItemDetail_ingredient {
  list-style: none;
}