.ItemDetail {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: none none solid none;
}

.ItemDetail_imgIngredientContainer {

}

.ItemDetail_imgContainer {
  display: flex;
  justify-content: center;
}

.ItemDetail_img {
  max-width: 200px;
}

.ItemDetail_ingredientsContainer {
  padding-left: 10px;
}

.ItemDetail_ingredientsList {
  padding-left: 20px;
}

.ItemDetail_ingredient {
  list-style-type: "- "
}

.ingredientMeasure {
  font-weight: bold;
}