.SearchBar {
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: solid none solid none;
}

.formContentContainer {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

.searchInput {
  box-sizing: border-box;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid black;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  width: 100%;
  padding-left: 5px;
  margin-left: auto;
  margin-right: auto;

}

.searchLabel {
  text-align: center;
}

.SearchBar_submitButton {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  background-color: black;
  color: white;
  border: 1px black solid;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  cursor: pointer;
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .formContentContainer {
    margin-left: 50px;
    margin-right: 50px;
  }
}